<section>
  <div class="card login">

    <h1>Draw canvas:</h1>

    <%= form_for @conn, Routes.page_path(@conn, :draw_canvas), [method: :post, class: "pull-right"], fn f -> %>

      <%= text_input f, :id, placeholder: "canvas_id" %>

      <%= submit "Draw", class: "draw" %>

    <% end %>

  </div>

</section>
